# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Rushabh\Desktop\College files\2nd Y B TECH FILES\SEMESTER 4\Mini Project\Mini Project code files\car_rental\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
